.searchBox {
    //display: flex;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 20px;
}

.search-area {
    margin-left: 10%;
    width: 100%;

    &>input {
        width: 500px;
        height: 40px;
        border: solid black 2px;
        border-radius: 10px;
        width: 60%;
        min-width: 30%;
    }

    &>button {
        background-color: #35C842;
        color: white;
        margin-left: 10px;
        width: 100px;
        height: 40px;
        border: solid black 2px;
        border-radius: 10px;
    }

    &>p {
        color: black;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.intro {
    margin-bottom: 4%;

    &>h1 {
        float: left;
        margin-right: 3%;
        color: #00B800;
        font-weight: bold;
        font-size: 50px;
        -webkit-text-stroke: black 1px;
    }

    &>h2 {
        color: white;
        font-weight: lighter;
        font-size: 25px;
        -webkit-text-stroke: #35C842 1px;
    }
}

.home-img-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img-banner {
    //background-color: white;
    padding: 10px;
    border-radius: 10px;
    //width: 100%;
    justify-content: center;
    align-items: center;

    &>img {
        border-radius: 10px;
        width: 100% !important;
        min-width: 100px;
        max-width: 320px;
    }
}