.search-zone {
    background-color: #F2FFEE !important;
    width: 1920px;
    padding-bottom: 30px;
}

.intro {
    &>h1 {
        float: left;
        margin-left: 80px;
        margin-right: 20px;
        color: #00B800;
        font-weight: bold;
        font-size: 50px;
        -webkit-text-stroke: black 1px;
    }

    &>h2 {
        color: white;
        font-weight: lighter;
        font-size: 25px;
        -webkit-text-stroke: #35C842 1px;
    }
}

.job-zone {
    background-color: white !important;
    padding: 30px;
}

.job-zone-list-box {
    background-color: #21BB2E;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;

    &>h1 {
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 15px;
        margin-left: 15px;
    }
}