$login-width : 35rem;

.container {
    height: 40rem;

}

.text-field {
    width: $login-width;

}

.submit {
    width: $login-width;
}

.input {
    text-align: center;
    width: 50rem;
}

.loginPage {
    margin-top: 50px;
}

.benefitList {
    margin-top: 70px;
    margin-right: 250px;
}

.benetfit {
    &>li {
        font-weight: bold;
    }
}