.link {
    text-decoration: none;
    color: #00B800;
}

.box-job {
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.description {
    &>h1 {
        font-size: 24px;
        font-weight: bold;
        color: #00B800;
    }
}

.card {
    padding: 10px 10px 10px 10px;

    &>img {
        float: left;
        border-radius: 10px;
        margin-right: 10px;
    }

    width: 420px;
    height: 150px;
    background-color: white;
    margin-bottom: 10px;
    border: solid black;
    border-radius: 10px;
}

.desDiv {
    height: 75px;

    &>p {
        font-size: 18px;
        color: #021C1E;
    }
}

.bottomButton {
    display: flex;
}

.film-button {
    margin-left: 100px;

    &>button {
        background-color: #00B800;
        color: white !important;
        margin-left: 10px;
        height: 20px;
        width: 100px;
        border: solid black 2px;
        border-radius: 10px;
        height: 25px;
    }

}