.link {
    color: #CAC4C4 !important;
    text-decoration: none !important;
}

.logo {
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;

    &>img {
        border: solid black 3px;
        border-radius: 35%;
    }
}

.mr-auto {
    margin-top: 25px;
    float: left;
}

#qsLoginBtn {
    color: #50E65D !important;
    font-weight: bold;
    background-color: #021C1E;
    margin-right: 40px;
}

.register {
    float: right;
}

.toolbar {
    background-color: #021C1E;
}

.navlink {
    text-decoration: none;
}

.regis {
    color: white;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-left: 10px;
}

.login-gg-area {
    margin-left: 40% !important;
}

.headPage {
    background-color: #021C1E !important;
}

.headContent {
    color: #CAC4C4;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    text-align: center;
    text-decoration: none;
    width: max-content;
}

.all-button-link {
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
    // float: left;
}

.link-button {
    display: flex;
}

.manage-recruiter-button,
.manage-applicant-button {
    display: flex;
}

.profile-dashboard {
    margin-left: 20%;
}