.link {
    color: #CAC4C4 !important;
    text-decoration: none !important;
}

.logo {
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;

    &>img {
        border: solid black 3px;
        border-radius: 35%;
    }
}

.mr-auto {
    margin-top: 25px;
    float: left;
}

.log-in-out {
    margin-top: 20px;
    float: right;
}

#qsLoginBtn {
    color: #50E65D !important;
    font-weight: bold;
    background-color: #021C1E;
    margin-right: 40px;
}

.register {
    float: right;
}

.toolbar {
    background-color: #021C1E;
}

.navlink {
    text-decoration: none;
}

.regis {
    color: white;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-left: 10px;
}

.login {
    color: #50E65D;
    text-decoration: none;
}

.headPage {
    background-color: #021C1E !important;
}

.headContent {
    color: #CAC4C4;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
}