$max-width: 1024px;

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.footer-top {
    display: flex;
    width: $max-width !important;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-bot {
    text-align: center;
    width: $max-width !important;
    color: #CAC4C4;
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

HR {
    margin-left: 10rem !important;
    border-radius: 1px solid black !important;
}

.container {
    &>div {
        width: 500px;
    }

    &>li {
        float: left;
        position: absolute;
    }



    background-color: #021C1E;
}

.about-us,
.condition,
.HR {
    &>h3 {
        color: white;
    }

    &>ul {
        color: #CAC4C4;
        margin-top: 10px;

        &>li {
            margin-top: 10px;
        }
    }
}

.headContent-footer {
    color: #CAC4C4;
    //font-weight: bold;
    display: flex;
    text-align: center;
    text-decoration: none;
    width: max-content;
}

.headContent-footer:hover {
    color: white !important;
}